.container {
    color: #ffffff !important;
  }
  
  .container p,
  .container a,
  .container li,
  .container span {
    color: #ffffff !important; 
  }
  
  .container a:hover {
    color: #cccccc !important;
  }
  
/* Dispositivos móviles */
  @media (max-width: 767px) {
    footer {
      margin-top: 50px;
    }
  }

  .container {
    overflow: visible;
  }

  body {
    padding-top: 20px;
  }