<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <!--Logo-->
   <img src="Images/Logo.svg" alt="" width="72" height="72">

       <!--Lista botones-->
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/home" class="nav-link px-2 text-white">Inicio</a></li>
        <li><a href="/monsters" class="nav-link px-2 text-white">Monstruos</a></li>
        <li><a href="/events" class="nav-link px-2 text-white">Misiones</a></li>
        <li><a href="/film" class="nav-link px-2 text-white">Pelicula</a></li>
        <li><a href="/equipment" class="nav-link px-2 text-white">Equipamiento</a></li>
      </ul>
      <!--Cuenta-->
      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="Images/Perfil.svg" alt="mdo" width="47" height="47" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
     <li><a class="dropdown-item" href="/createAccount">Crear cuenta</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>