.hero-content {
  background-color: #215023;
  padding: 20px;
  width: 100%;
  height: 74vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #f8f9fa;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.hero-content p {
  font-size: 1.4rem;
  color: #ffffff;
}

.hero-content .btn {
  font-size: 1.2rem;
  padding: 12px 24px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.hero-content .btn-primary {
  background-color: #007bff;
  border: none;
}

.hero-content .btn-primary:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Dispositivos móviles*/

@media (max-width: 992px) {
  .hero-content h1 {
    font-size: 2.2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-content .btn {
    font-size: 1rem;
    padding: 10px 20px;
  }
}

@media (max-width: 767px) {
  .hero-content {
    margin-top: 200px;
    margin-bottom: 60px;
  }

  .hero-content .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero-content .row {
    flex-direction: column-reverse;
  }

  .hero-content .col-12.col-lg-7 {
    text-align: center;
  }

  .hero-content .col-12.col-lg-5 {
    margin-top: 20px;
  }

  .hero-content h1 {
    font-size: 1.75rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .btn-primary {
    padding: 10px 20px;
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1.125rem;
  }

  .btn-primary {
    padding: 12px 24px;
    font-size: 1.125rem;
  }
}

@media (min-width: 1025px) {
  .hero-content .row {
    flex-direction: row;
  }

  .hero-content h1 {
    font-size: 3rem;
  }

  .hero-content p {
    font-size: 1.25rem;
  }

  .btn-primary {
    padding: 12px 30px;
    font-size: 1.25rem;
  }
}