<!--El grande-->
<div class="p-5 mb-4" style="background-color: #004200; color: white;">
    <div class="container-fluid py-5">
      <p class="col-md-8 fs-4">Monster Hunter (titulada Monster Hunter: la cacería comienza en Hispanoamérica) es una película de monstruos de 2020 producida, escrita y dirigida por Paul W. S. Anderson, basada en la serie de videojuegos del mismo nombre de Capcom. La película está protagonizada por Milla Jovovich, Tony Jaa, Tip "T. I." Harris, Meagan Good, Diego Boneta, Josh Helman, Jin Au-Yeung y Ron Perlman.
        Monster Hunter fue estrenada en China el 4 de diciembre de 2020 y en los Estados Unidos el 18 de diciembre de 2020 por Sony Pictures Releasing a través del sello Screen Gems (excluyendo Alemania, Japón y China).</p>
      <a href="https://es.wikipedia.org/wiki/Monster_Hunter_(pel%C3%ADcula)" target="_blank" class="btn btn-light btn-lg">Buscar más información</a>
    </div>
  </div>  
   
  <!--Los dos pequeños-->
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>Estreno</h2>
        <p>Monster Hunter fue estrenada en Estados Unidos el 18 de diciembre de 2020. La película estaba originalmente programada para ser lanzada el 4 de septiembre de 2020, pero se retrasó hasta el 23 de abril de 2021, debido a la pandemia de COVID-19, antes de ser trasladada hasta el 30 de diciembre, y finalmente la fecha de Navidad. Sony modificó una vez más la fecha de lanzamiento de la película en los Estados Unidos a principios de diciembre después del problemático lanzamiento de la película en China, moviendo su lanzamiento al 18 de diciembre de 2020.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100  bg-body-tertiary border ">
        <img src="Images/Image 3.svg" class="d-block w-100">
      </div>
    </div>
  </div>