<!--Barra menú-->
<div class="top-bar">
  <!--Barra busqueda-->
  <button class="left-button">
    <img src="Images/ButtonLens.png">
  </button>
  <input type="text" placeholder="Buscar...">
  
  <!--Conjunto botones-->
  <div class="right-buttons">
    <button>
      <img src="Images/ButtonNotifications.png">
    </button>
    <button>
      <img src="Images/ButtonConversation.png">
    </button>
    <button>
      <img src="Images/ButtonShopping.png">
    </button>
    <button>
      <img src="Images/ButtonConfig.png">
    </button>
  </div>
</div>

<!--Contenido-->
<div class="content">
</div>